<ion-header>
    <ion-navbar color="primary">
        <ion-title>Portada</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="home-page">

    <p id="title" ><b>Alarmas creadas</b></p>

    <ion-list text-wrap>
        <ion-item-sliding *ngFor="let alarm of pills">

            <ion-item >
                <h2>{{alarm.text}}</h2>
                <h3 *ngIf="alarm.every == 'day'" >La alarma suena diariamente a las {{alarm.at * 1000 | date:'shortTime'}} a partir del {{alarm.at * 1000 | date:'dd/MM'}}</h3>
                <h3 *ngIf="alarm.every == 'week'" >La alarma suena semanalmente a las {{alarm.at * 1000 | date:'shortTime'}} a partir del {{alarm.at * 1000 | date:'dd/MM'}}</h3>
                <h3 *ngIf="alarm.every == 'month'" >La alarma suena mensualmente a las {{alarm.at * 1000 | date:'shortTime'}} a partir del {{alarm.at * 1000 | date:'dd/MM'}}</h3>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="secondary2" (click)="goToPill($event, alarm)">
                    <ion-icon name="arrow-dropright-circle"></ion-icon>
                    Acceder
                </button>
                <button ion-button color="danger2" (click)="cancelAlarm(alarm)">
                    <ion-icon name="trash"></ion-icon>
                    Borrar
                </button>
            </ion-item-options>


        </ion-item-sliding>
            
    </ion-list>

</ion-content>
