.home-page {

    background-color: rgb(194, 228, 227);

    #title {
        text-align: center;
        font-size: 2em;
    }
    
    ion-item {
        font-size: 2em;
        background-color: rgba(224, 240, 239, 0.952)
    }

    ion-icon {
        font-size: 150%;
    }
    
}
