<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Añadir {{pill.name}}</ion-title>

        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>

    <h6>Cantidad de pastillas actualmente: {{pill.numb}}</h6>
    <h6>Frecuencia de la dosis: {{pill.dose}}</h6>
    <h6>Duración estimada: {{pill.duration}}</h6>
    <button ion-button (click)="addPills()">Añadir pastillas</button>
    <button ion-button (click)="addDose()">Añadir dosis</button>
    
    <ion-footer>
        <button ion-button full (click)="newAlarm()">Añadir recordatorio</button>
        <button ion-button full (click)="removeAlarm()">Eliminar alarma</button>
        
    </ion-footer>



</ion-content>
    