<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{pill.name}}</ion-title>

        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col col-6>
            <button ion-button full (click)="addPills()">Añadir pastillas</button>
        </ion-col>

        <ion-col col-6>
            <button ion-button full (click)="addDose()">Seleccionar dosis</button>
        </ion-col>
    </ion-row>

    <ion-list >
        <ion-item>
            Cantidad de pastillas actualmente: {{pill.numb}}
        </ion-item>
        <ion-item *ngIf="pill.dose != 'Null'" >
            Frecuencia de la dosis: {{pill.dose}}
        </ion-item>
        <ion-item *ngIf="pill.duration != 'Null'">
            Duración estimada: {{pill.duration}}
        </ion-item>
    </ion-list>
    
    <ion-footer>
        <ion-row>
            <ion-col col-6>
                <button ion-button full icon-only (click)="newAlarm()">
                    <ion-icon name="alarm"></ion-icon>
                    Añadir alarma
                </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button full icon-only (click)="removeAlarm()">
                    <ion-icon name="trash"></ion-icon>
                    Eliminar alarma
                </button>
            </ion-col>
        </ion-row>
        
    </ion-footer>



</ion-content>
    