.newpill-page {

    background-color: rgb(160, 198, 252);

    ion-item {
        top: auto;
        left: 0%;
        margin-right: 0%;
        width: 100%;
        border-radius: 15px !important;
        margin-top: 15px;
        margin-bottom: 5px;
        background-color: #f6f6f6;
        font-size: 0.9em;
    };

    button {
        bottom: auto;
        left: 20%;
        margin-right: -20%;
        width: 60%;
        border-radius: 30px;
        font-size: 0.9em;
        margin-top: 10px;
        border: 1px solid #fff;
        background-color: #3771df;
    };

}
