<ion-header>
    <ion-navbar color="primary">
        <ion-title>Inventario</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="newPill()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar >
        <ion-searchbar placeholder="Buscar" [(ngModel)]="queryText" (ionInput)="search()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content class="inventory-page">

    <button ion-button full (click)="delete()" >Eliminar registros</button>

    <ion-row >
        <ng-container *ngFor="let pill of allPills">
            <ion-col col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2>
                <ion-card (click)="goToPill($event, pill)">
                    <ion-card-header>
                        {{pill.name}}
                    </ion-card-header>
                    <ion-card-content>
                        <p>Cantidad: {{pill.numb}}</p>
                        <p *ngIf="pill.duration != 'Null'" >Duración: {{pill.duration}}</p>
                        <p>Precio: {{pill.price}}</p>
                    </ion-card-content>
                </ion-card>
                  
                    
            </ion-col>
        </ng-container>
    </ion-row>

</ion-content>