.inventory-page {

    background-color: rgb(194, 228, 227);

    ion-card {
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        background-color: rgba(224, 240, 239, 0.952);
    }

    ion-card-header {
        font-size: 130%;
    }

}
